<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ribhu.otpgrabber</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-c</string>
        <string>source ~/Library/Application\ Support/otp-grabber/otp_env/bin/activate && python3 ~/Library/Application\ Support/otp-grabber/otp_grabber.py</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/otpgrabber.out</string>

    <key>StandardErrorPath</key>
    <string>/tmp/otpgrabber.err</string>
</dict>
</plist>
